* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 95vh;

    background-color: #3b3b3bf0;
    color: #fff;
}

nav {
    margin-top: 20px;
    width: 50%;
    height: 70%;
}

nav ul {

    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

ul li {
    list-style: none;
    padding: 10px;
    margin: 20px;

    min-width: 10px;
    border-radius: 10px;
}

.user {
    background-color: #57bad0;
    text-align: right;
}

.bot {
    border: 5px solid #fff;
    background-color: #fff;
    color: #303030;
    text-align: left;
}

.input {
    padding: 10px;
    background-color: #3b3b3bf0;

    height: 20%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatinput {
    width: 100%;
    height: 100%;
    background-color: #3b3b3bf0;
    font-size: 16px;
    border: none;
    color: #fff;
    resize: none;
}

#submit {
    background-color: #57bad0;
    border: 5px solid #57bad0;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    height: 100%;
    color: #fff;
}

@media (orientation: portrait) {
    nav {
        width: 80%;
    }

    .input {
        width: 80%;
    }
}
